In [527]:
import numpy as np
import pandas as pd 
import matplotlib as mpl
import matplotlib.pyplot as plt
import datetime as dt
from sklearn.linear_model import LogisticRegression

In [528]:
data=pd.read_csv("./Loan payments data.csv")

In [529]:
data.head(5)

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender
0,xqd20166231,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/14/2016 19:31,NaN,45,High School or Below,male
1,xqd20168902,PAIDOFF,1000,30,9/8/2016,10/7/2016,10/7/2016 9:00,NaN,50,Bechalor,female
2,xqd20160003,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/25/2016 16:58,NaN,33,Bechalor,female
3,xqd20160004,PAIDOFF,1000,15,9/8/2016,9/22/2016,9/22/2016 20:00,NaN,27,college,male
4,xqd20160005,PAIDOFF,1000,30,9/9/2016,10/8/2016,9/23/2016 21:36,NaN,28,college,female

In [530]:
data['Principal'].unique()

array([1000,  300,  800,  900,  700,  500], dtype=int64)

In [531]:
data['loan_status'].unique()

array(['PAIDOFF', 'COLLECTION', 'COLLECTION_PAIDOFF'], dtype=object)

In [532]:
data['education'].unique()

array(['High School or Below', 'Bechalor', 'college', 'Master or Above'],
      dtype=object)

In [533]:
data_original=data.copy()

In [534]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
data['loan_status']=le.fit_transform(data['loan_status'])
data['Gender']=le.fit_transform(data['Gender'])
data['education']=le.fit_transform(data['education'])
data['due_date'] = pd.to_datetime((data['due_date']),format="%m/%d/%Y")
data['effective_date'] = pd.to_datetime((data['effective_date']),format="%m/%d/%Y")
data['paid_off_time'] = pd.to_datetime((data['paid_off_time']),format="%m/%d/%Y %H:%M")
data['past_due_days']=data['past_due_days'].fillna('0')

In [535]:
data.head(5)

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender
0,xqd20166231,2,1000,30,2016-09-08,2016-10-07,2016-09-14 19:31:00,0,45,1,1
1,xqd20168902,2,1000,30,2016-09-08,2016-10-07,2016-10-07 09:00:00,0,50,0,0
2,xqd20160003,2,1000,30,2016-09-08,2016-10-07,2016-09-25 16:58:00,0,33,0,0
3,xqd20160004,2,1000,15,2016-09-08,2016-09-22,2016-09-22 20:00:00,0,27,3,1
4,xqd20160005,2,1000,30,2016-09-09,2016-10-08,2016-09-23 21:36:00,0,28,3,0

In [536]:
data2=data
data2.drop('Loan_ID', axis=1, inplace=True)
label = data2.pop('loan_status')

In [537]:
data2.drop('effective_date', axis=1, inplace=True)
data2.drop('due_date', axis=1, inplace=True)
data2.drop('paid_off_time', axis=1, inplace=True)
data2.drop('past_due_days', axis=1, inplace=True)

In [538]:
data2.head(10)

   Principal  terms  age  education  Gender
0       1000     30   45          1       1
1       1000     30   50          0       0
2       1000     30   33          0       0
3       1000     15   27          3       1
4       1000     30   28          3       0
5        300      7   35          2       1
6       1000     30   29          3       1
7       1000     30   36          3       1
8       1000     30   28          3       1
9        800     15   26          3       1

In [539]:
from sklearn.model_selection import train_test_split
data_train, data_test, label_train, label_test = train_test_split(data2, label, test_size = 0.2, random_state = 42)

In [540]:
from sklearn.linear_model import LogisticRegression
logis = LogisticRegression()
logis.fit(data_train, label_train)
logis_score_train = logis.score(data_train, label_train)
print("Training score: ",logis_score_train)
logis_score_test = logis.score(data_test, label_test)
print("Testing score: ",logis_score_test)

Training score:  0.62
Testing score:  0.52

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)